*{
    margin:0;
    padding:0;
}
h1{
    background-color:#081b31;
    color:#fff;
    height:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-right: 4rem;
}
.choice{
    width:165px;
    height:165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    background-color: #081b31;
    cursor:pointer;
}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 2rem;
    gap:5rem;
    margin-top: 2rem;
}
#user-score,#computer-score{
 font-size: 4rem;
}
.msg-container{
    margin-top:3rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
#msg{
    background-color: #081b31;
    color:#fff;
    font-size: 2rem;
    display:inline;
    border-radius: 1rem;
    padding:1rem;
    
}